$normalPadding: 100px;
$littlePadding: 10px;
$normalMargin: 50px;
$normalBorderRadius: 4px;
$borderData: 2px solid transparent;
$slightlySmaller: 48%;
$slightlyMargins: 0%;
$fullSized : 100%;
$elementStaticHeight : 400px;

@mixin background-size($size)
{
    -webkit-background-size: $size;
    -moz-background-size: $size;
    -ms-background-size: $size;
    background-size: $size;
}


body {
    background-color: transparent !important;
    background: url(../img/about.jpg) no-repeat center center fixed;
    @include background-size(cover);
}


.addExtraSpace
{
    @media screen and (max-width: 767px)
    {
        height: 100px;
    }

    @media screen and (min-width: 768px)
    {
        height: 250px;
    }

}

.extraMargin
{
    margin-top: $normalMargin + 5px;
}

.highlight
{
    padding-bottom: 100px !important;
    @media screen and (min-width: 768px)
    {
        width: 25%;
        left: 37.5%;
        margin-left: 15px; 
        margin-right: 15px; 

    }
    left: 6%;
    width: 88%;
    margin-top: 25px !important;
        border-radius: 20px !important;
    height: 150px !important;
    background: black;
}
.container {
    
    .well
    {
        border-radius: 20px !important;

        border: transparent;
        color: white !important;
        background: transparentize(black, 0.0) !important;
        height: $elementStaticHeight / 1.05;
    }

    .col-md-6 
    {
       margin: $littlePadding;
       margin-left: $slightlyMargins;
       margin-right: $slightlyMargins;

       height: $elementStaticHeight;
    }

    .col-sm-12 
    {
       margin: $littlePadding;
       margin-left: $slightlyMargins;
       margin-right: $slightlyMargins;

       height: $elementStaticHeight;
    }

    .col-xs-12 
    {
       margin: $littlePadding;
       margin-left: $slightlyMargins;
       margin-right: $slightlyMargins;
       height: $elementStaticHeight;
    }
}

.notop {
     margin-top: 0px !important;
}

.nobot {
    margin-bottom: 0px !important;
}


