$primaryForegroundColor: white;
$primaryBackgroundColor: black;

.footer
{
    color: $primaryForegroundColor !important;
    background: $primaryBackgroundColor !important;
    p
    {
         margin-top: 1.5vh;
    }

    border-top: 2px solid red;
}


