$navbarBackground: black;
$navbarForeground: white;
$navbarHover: red;
$primaryFontFamily: 'Open Sans', 'Helvetica Neue', sans-serif;

@mixin transition($time){
    -webkit-transition: all $time;
    -moz-transition: all $time;
    -ms-transition: all $time;
    transition: all $time;
}

.navlinkActive{
    color: $navbarHover !important;
}

.navbar-default{
    background: $navbarBackground !important;
    border-bottom: 2px solid $navbarHover;
    font-family: $primaryFontFamily;
    @include transition(0.35s);

    .navbar-header 
    {
        .navbar-brand{
            color: $navbarForeground;
            font-weight: 800;
            text-transform: uppercase;
        }

        .navbar-brand:hover, .navbar-brand:focus
        {
            color: $navbarHover;
        }
    }
}

.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus
{
     text-transform: uppercase;
     font-weight: 700;
     font-size: 13px;
     color: $navbarForeground;
}

.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
    color: $navbarHover !important;
}

.navbar-default .navbar-nav > li > a:hover {
    color: $navbarForeground;
}

.navbar-default .nav > li.active > a:hover,
.navbar-default .nav > li.active > a:focus:hover {
    color: $navbarForeground;
    background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar
{
     background: $navbarForeground;
}
