$normalPadding: 100px;
$littlePadding: 10px;
$normalMargin: 40px;
$normalBorderRadius: 4px;
$borderData: 2px solid black;
$slightlySmaller: 48%;
$slightlyMargins: 0%;
$fullSized : 100%;
$elementStaticHeight : 600px;


@mixin background-size($size)
{
    -webkit-background-size: $size;
    -moz-background-size: $size;
    -ms-background-size: $size;
    background-size: $size;
}

body
{
    background-color: transparent !important;
    background: url(../img/cardsbackground1.jpg) no-repeat center center fixed;
    @include background-size(cover);
}

.titleData
{
    @media screen and (min-width: 768px)
    {
        width: 45% !important;
    }
}

.container {

    .well
    {
        border: $borderData;
        height: $elementStaticHeight / 1.05;
    }

    .col-md-6 
    {
       margin: $littlePadding;
       margin-left: $slightlyMargins;
       margin-right: $slightlyMargins;

       height: $elementStaticHeight;
    }

    .col-sm-12 
    {
       margin: $littlePadding;
       margin-left: $slightlyMargins;
       margin-right: $slightlyMargins;

       height: $elementStaticHeight;
    }

    .col-xs-12 
    {
       margin: $littlePadding;
       margin-left: $slightlyMargins;
       margin-right: $slightlyMargins;
       
       height: $elementStaticHeight;
    }
}

