$mainFontStyle : 'Bitter', serif;
$mobileUpperBound : 766px;
$desktopLowerBound : 767px;


h1{
    letter-spacing: .03em;
    color: white !important;
    font-family: $mainFontStyle !important;
    @media screen and (min-width: $desktopLowerBound)
    {
        font-size: 5vw;
    }

    @media screen and (max-width: $mobileUpperBound)
    {
        font-size: 40px !important;
    }

}


h4{
    color: white !important;
    font-family: $mainFontStyle !important;
    font-weight: 900;
    @media screen and (min-width: $desktopLowerBound)
    {
        font-size: 2vw;
    }

    @media screen and (max-width: $mobileUpperBound)
    {
        font-size: 20px !important;
    }

}

.titleData
{
    @media screen and (max-width: $mobileUpperBound)
    {
        margin-top: 18vh; 
    }

    @media screen and (min-width: $desktopLowerBound)
    {
        margin-top: 20vh; 
    }

    padding-top: 5vh;
    padding-bottom: 5vh;
    border: 4px solid transparentize(red, .10);
    background: transparentize(black, .30);
}

.redTitle
{
     color: red !important;
}

