$primaryForegroundColor: white;
$primaryBackgroundColor: black;
$mainFontStyle: 'Bitter', serif;

.footer
{
    font-family: $mainFontStyle;

    color: $primaryForegroundColor !important;
    background: $primaryBackgroundColor !important;
    p
    {
         margin-top: 1.5vh;
    }

    border-top: 2px solid red;
}


