$navbarBackground: black;
$transitionTime: 2s;
$transitionScale: 1.2;
$navbarForeground: white;
$navbarHover: red;
$primaryFontFamily: 'Bitter', serif;
$navbarHeight: 50px;
$navbarFontSize : 14px;

@mixin transitionScale($time, $scale){
   }

.navlinkActive{
    color: $navbarHover !important;
}

.navbar-default{
    height: $navbarHeight !important;
    font-size: $navbarFontSize !important;
    font-weight: 800px !important;
    -webkit-transition: all $transitionTime;
    -moz-transition: all $transitionTime;
    -ms-transition: all $transitionTime;
    transition: all $transitionTime;
    background: $navbarBackground !important;
    border-bottom: 2px solid $navbarHover;
    font-family: $primaryFontFamily;

    .navbar-header 
    {
        .navbar-brand{
            color: $navbarForeground;
            font-weight: 800;
            text-transform: uppercase;
        }

        .navbar-brand:hover, .navbar-brand:focus
        {
            color: $navbarHover;
        }
    }

    &:hover {
        background: transparentize(black, 0.3) !important; 
    }




}

.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus
{
     text-transform: uppercase;
     font-weight: 700;
     font-size: 13px;
     color: $navbarForeground;
}

.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
    color: $navbarHover !important;
}

.navbar-default .navbar-nav > li > a:hover {
    color: $navbarForeground;
}

.navbar-default .nav > li.active > a:hover,
.navbar-default .nav > li.active > a:focus:hover {
    color: $navbarForeground;
    background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar
{
     background: $navbarForeground;
}
